@page "/"

<PageTitle>
    Rectangles
</PageTitle>

<MudText Typo="@Typo.h3">
    Rectangles
</MudText>

<MudNumericField @bind-Value="Number"
                 @bind-Value:after="@GetRectangleInfo"
                 Label="Enter a number to find rectangle dimensions"
                 Variant="@Variant.Outlined"
                 Margin="@Margin.Dense" />

@if (NumberRectangleInfo is { IsRectangle: false })
{
    <MudText Typo="@Typo.h2">
        @Number cannot form any rectangles
    </MudText>
}
else if (NumberRectangleInfo is { IsRectangle: true })
{
    <div class="mt-3">
        <MudText Typo="@Typo.h2">
            @Number can form the following rectangles:
        </MudText>
        <ul>
            @foreach (var rectangle in NumberRectangleInfo.Value.Dimensions)
            {
                <li>
                    @rectangle.Width x @rectangle.Height
                </li>
            }
        </ul>
    </div>
}

@code {
    private long Number { get; set; }

    private RectangleInfo? NumberRectangleInfo { get; set; }

    private void GetRectangleInfo() =>
        NumberRectangleInfo = RectangleUtils.GetRectangleInfo(Number);
}
